*, *:after, *:before {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            position: relative;
}

html {
        position: relative;
    @media (min-width: 768px) {
        font-size: 18px;
    }
    @media (min-width: 480px) {
        font-size: 20px;
    }
}

body {
    position: relative;

    margin:0;
    padding:0;

    font-family: "Georgia", serif;
    font-weight: 400;
    line-height: 1.7em;

    background: #fff;
    color: #0F120B;

    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
    margin: 0;
    padding: 0;
}

li {
    display: block;
}  

p {
    margin-bottom: 1.5em;
}

p+p {
    margin-top: 1.227em;
}

h1, h2, h3, h4 {
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
    font-size: 3em;
    font-weight: 700;
    line-height: 1rem;
    @media (min-width: 480px) {
        font-size: 4rem;
    }
}

h2 {
    font-size: 1.5em;
}

strong {
    font-weight: bold;
}

a,
button {
    color: inherit;
}

a {
    text-decoration: none;
}

button {
    overflow: visible;
    border: 0;
    font: inherit;
    letter-spacing: inherit;
    background: none;
    cursor: pointer;
}

::-moz-focus-inner {
    padding: 0;
    border: 0;
}

:focus {
    outline: 0;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

a:link,
a:visited,
a:active {
    color: #1A7C92;
}

a:hover, 
a:focus {
    color: #ee8925;
}

::-moz-selection { background: #fff0b9; }
::selection { background: #fff0b9; }

.article {
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: #fff;
    z-index: 1;
}

.hero-image {
    height: 500px;
    position: relative;
    background-size: cover;
    background-position:center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home .hero-image {
   background-position:bottom center; 
}

.hero-title-meta {
    color: #fff;
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    h1 {
        display: inline-block;
        @media (min-width: 780px) {
            max-width: 76%;
        }
        max-width: 100%;
        margin: 0 auto;
        padding: 0;
        font-size: 2rem;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: -.1rem;
        text-shadow: 0 1px 4px rgba(39, 54, 69, .3);
        z-index: 1
    }
}