/* HERO IMAGE */
.hero-image {
    height: 500px;
    position: relative;
    background-size: cover;
    background-position:center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home .hero-image {
   background-position:bottom center; 
}

.hero-title-meta {
    color: #fff;
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    h1 {
        display: inline-block;
        max-width: 76%;
        margin: 0 auto;
        padding: 0;
        font-size: 2rem;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: -.1rem;
        text-shadow: 0 1px 4px rgba(39, 54, 69, .3);
        z-index: 1
    }
}

.home .hero-title-meta h1 {
        font-size: 2rem;
        max-width: 100%;
    @media (min-width: 780px) {
        font-size: 2rem;
        max-width: 76%;
    }
}


.meta {
    position: relative;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 0.6rem;
    font-weight: 600;
    letter-spacing: -.02rem;
    z-index: 1;
    margin-top: 10px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
     &:before {
        position: absolute;
        content: '';
        top: -5px;
        left: 43%;
        right: 0;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        width: 14%
    }
}

.middotDivider {
    padding-right: .45em;
    padding-left: .45em;
    &::before {
        content: "·";
    }
}


.hero-chevron {
    display: block;
    background: url("https://d3ubxrwj4q6e59.cloudfront.net/hero-chevron.png") no-repeat center bottom;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: -1px;
    z-index: 100;
    line-height: 1;
    left: 0;
}

.social {
 position: relative;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: -.02rem;
    z-index: 1;
    margin-top: 10px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
     &:before {
        position: absolute;
        content: '';
        top: -5px;
        left: 28%;
        right: 0;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        width: 45%
    }
    a {
        color: #fff;
        letter-spacing: 1px;
        &:nth-child(1) {
            margin-right: 40px;
         }
    }
}