---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
    <head>
    
        {% include head.html %}

   </head>
<body class="home animated fade-in-down">
    
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="arrowBroken" viewBox="0 0 35 10">
      <polygon points="35,5 25,0 25,4 20,4 20,6 25,6 25,10 "/>
      <rect x="10" y="4" width="5" height="2"/>
      <rect y="4" width="5" height="2"/>
      </symbol>
    </svg>  

    {% include header-home.html %}

    <main role="main">  
        <article>
            <section class="who">
                <center><img src="/images/avatar_01.jpg" alt="Mike Key" title="Mike Key"></center>
                <div class="section-title"><span>Bio</span></div>
                <p>Husband. Father. Polymath. Autodidact. I read old books, lift heavy things, eat paleo & drink whiskey. Shipping code as a front end dev for Wihp Hotels. Weekend adventures with an Airstream in tow.</p>
                <p><strong>Current Location:</strong> Idaho, USA</p>
            </section>
            <section>
                <div class="section-title"><span>Writings</span></div>
                <ul class="entry-list">
                {% for post in paginator.posts %}
                    {% assign minutes = post.content | number_of_words | divided_by: 180 %}
                    {% if minutes == 0 %}
                    {% assign minutes = 1 %}
                    {% endif %}
                    <li>
                        <h2>
                            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                        </h2>
                        <span><time datetime="{{ post.date |  date: '%B %d, %Y' }}">{{ post.date |  date: '%B %d, %Y' }}</time> / {{ minutes }} minute read</span>
                        <p>{{ post.content | strip_html | truncatewords:40 }}</p>
                        <a href="{{ BASE_PATH }}{{ post.url }}" class="read-more">KEEP READING <svg class="shape-icon shape-arrow--broken"><use xlink:href="#arrowBroken"></use></svg></a>
                    </li>
                    {% endfor %}
                </ul>  
                {% if paginator.total_pages > 1 %}
                <div class="pagination">
                    {% if paginator.previous_page %}
                    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Newer Posts</a>
                    {% else %}
        
                    {% endif %}

                    {% for page in (1..paginator.total_pages) %}
                        {% if page == paginator.page %}
                        <em>{{ page }}</em>
                        {% elsif page == 1 %}
                        <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
                        {% else %}
                        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
                        {% endif %}
                    {% endfor %}

                    {% if paginator.next_page %}
                    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &raquo;</a>
                    {% else %}
                    <span>Prev &raquo;</span>
                    {% endif %}
                </div>
                {% endif %}

            </section>
        </article>
    </main>
        
    {% include footer.html %} 

    {% include scripts.html %}
</body>
</html>