---
layout: default
---

<main class="wrap" role="main">
	{% for post in paginator.posts %}
		<article class="post" itemscope="" itemtype="http://schema.org/BlogPosting" role="article">
			<header class="post-header">
                <time datetime="{{ post.date | date_to_long_string }}">{{ post.date | date_to_long_string }}</time>
				<h2 itemprop="name"><a href="{{ post.url }}" itemprop="url">{{ post.title }}</a></h2>
            </header>
			<section class="excerpt" itemprop="description">
					{% if post.content contains '<!--more-->' %}
						{{ post.content | split:'<!--more-->' | first }}
                        <a href="{{ BASE_PATH }}{{ post.url }}">continue reading >></a>
					{% else %}
						{{ post.content }}   
					{% endif %}
			</section>
            <footer>
                <span>
                    {% for category in post.categories %}
                        {{ category }} 
                    {% endfor %}
                </span>
            </footer>       
		</article>
	{% endfor %}
	{% include pagination.html %}
</main>