<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />

      <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
      <meta name="description" content="{{ site.description }}" />

      <meta name="HandheldFriendly" content="True" />
      <meta name="MobileOptimized" content="320" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">
      <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}">
      <link rel="prefetch" href="{{ site.url }}">
      <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

      <!-- twitter meta -->
      <meta name="twitter:card" content="summary" />
      <meta name="twitter:site" content="@mike_key" />
      <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
      <meta name="twitter:description" content="{% if page.excerpt %}{% if page.content contains '<!-- more -->' %}{{ page.excerpt|strip_html|trim }}{% endif %}{% else %}{{ site.description }}{% endif %}" />
      <meta name="twitter:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
      {% if page.image %}<meta name="twitter:image" content="{{ site.baseurl | prepend: site.url }}{{ page.image }}" />{% endif %}

      <!-- google authorship -->
      <link rel="author" href="https://plus.google.com/u/0/+MikeKey_adventurer/"/>
      <link rel="publisher" href="https://plus.google.com/u/0/+MikeKey_adventurer/"/>
      {% if page.image %}<meta name="thumbnail" content="{{ site.baseurl | prepend: site.url }}{{ page.image }}" />{% endif %}
    
      <link rel="stylesheet" href="{{ "/assets/css/init.css" | prepend: site.baseurl }}">
      <link href='//fonts.googleapis.com/css?family=Domine:700|Open+Sans:400,600|Source+Code+Pro:500' rel='stylesheet' type='text/css'>
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  
  </head>
  <body>