<header class='site-header' itemscope='itemscope' itemtype='http://schema.org/WPHeader' role='banner'>
    <div class='wrap'>
      
        <div class='title-area'>
            <h1 class='site-title' itemprop='headline'>
                <a href='http://mk3y.com'><span class='mike'>Mike</span>Key</a>
            </h1>
            <h2 class='site-description' itemprop='description'>Airstream traveling full stack coder</h2>
        </div>
        
        <nav class='nav-primary' itemscope='itemscope' itemtype='http://schema.org/SiteNavigationElement' role='navigation'>       
            <div class='wrap'>
        
                <div class='responsive-menu-icon'></div>
                <ul class='header-menu'>
                    <li>
                        <a href='http://mk3y.com/about/'>About Me</a>
                    </li>
                    <li>
                        <a href='http://mk3y.com/themes/'>Writings</a>
                    </li>
                    <li>
                        <a href='http://mk3y.com/photos'>Photos</a>
                    </li>
                </ul>
        
            </div>
        </nav>

    </div>
</header>
<script type="text/javascript">
jQuery(function( $ ){

    // Add light class to site header after 50px
    $(document).on("scroll", function(){

        if($(document).scrollTop() > 50){
            $(".site-header").addClass("light");            

        } else {
            $(".site-header").removeClass("light");         
        }

    });

    $(".nav-primary .genesis-nav-menu").addClass("responsive-menu").before('<div class="responsive-menu-icon"></div>');

    $(".responsive-menu-icon").click(function(){
        $(this).next(".nav-primary .genesis-nav-menu").slideToggle();
    });

    $(window).resize(function(){
        if(window.innerWidth > 768) {
            $(".nav-primary .genesis-nav-menu").removeAttr("style");
            $(".responsive-menu > .menu-item").removeClass("menu-open");
        }
    });

});
</script>
