        <title>Mike Key - Thoughts & Writtings</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="We're 30 somethings working, traveling and investing from the road while raising two kids" />
        <meta name="HandheldFriendly" content="True" />
        <meta name="MobileOptimized" content="320" />


        <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">
        <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}">
        <link rel="prefetch" href="{{ site.url }}">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">