<header role="banner" style="background-image: url('/images/cover/bg-option-01.jpg');">
    <div class="intro">
        <h1>Mike Key</h1>
        <span>Musing on Business, Self Improvement, Life and Travel</span>
    </div>
</header>

<!-- WORKS WELL 
bg-option-00 nice resize, looks good on desktop
bg-option-01 also nice, looks good on desktop an resize
bg-option-02 very much like 01 but more zoomed. Looks great on resize
bg-option-03 like 02 but even better on small screen. On Desktop might be too zoomed.
bg-option-04 TOO CLOSE FOR HOMEPAGE I FEEL
bg-option-05 SUPER COOL - Resize is mhem - exlcudes books though - feel this layout is common
bg-option-06 This is a different wide angle of 05... resizes better

bg-possible-01.jpg - nah
bg-possible-02.jpg - blur effect is nice - resize is mhem - second go around, can't makeout stuff linked to me.

-->