<header role="banner" class="header">
    <nav role="navigation" class="navigation">
        <ul class="wrapper">
            <li>
                <a href="/">MK</a>
            </li>
            <li>
                <div class="menu_button">
                    <span class="menu_button-bar"></span>
                    <span class="menu_button-bar"></span>
                    <span class="menu_button-bar"></span>
                </div>
            </li>
        </ul>
    </nav>

    <nav role="menu" class="menu">
        <div class="center">
            <ul class=" wrapper">
                <li><a href="#" class="ajaxload">HOME</a></li>
                <li><a href="#" class="ajaxload">ABOUT ME</a></li>
                <li><a href="#" class="ajaxload">BOLD&ADVENTUROUS</a></li>
            </ul>
        </div>
    </nav>
</header>