<!-- HOMEPAGE HERO IMAGE & INTRO -->
<div class="hero-image" style="background-image:url('{{ site.cover }}');">  
    <div class="wrap">
        <div class="introText">
            <h1>{{ site:title }}</h1>
            <span>{{ site:tagline }}</span>
        </div>
    </div>
</div>


<!-- DISABLED FOR THIS SITE 

{% if page.hero == true %}
<div class="hero-image" style="background-image:url('{{ page.hero_img }}');">
    <header class="wrap">
        <div class="introText">
            <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
            <h4>
                Published: <time datetime="{{ page.date | date_to_long_string }}">{{ page.date | date_to_long_string }}</time>.
            </h4>
            <span>
                {% for category in page.categories %}
                    Filed under: {{ category }} 
                {% endfor %}
            </span>
        </div>
    </header>
    <i class="fa fa-chevron-down movedown"></i>
</div>
{% endif %} 

-->