<nav class="pagination">
    <div>
    {% if paginator.next_page %}
        <a class="newer-posts" href="{{ paginator.next_page_path }}">&larr; Older posts</a>
    {% endif %}
    </div>

    <div><span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span></div>
    
    <div>
    {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
          <a class="older-posts" href="/">Newer posts &rarr;</a>
        {% else %}
          <a class="older-posts" href="{{ paginator.previous_page_path }}">Newer posts &rarr;</a>
        {% endif %}
    {% endif %}
    </div>
</nav>

