<nav class="article-prev-next">
    {% if page.next.url %} 
    <a class="next" href="{{page.next.url}}" >
        <div class="prev-next-content">
            <span>Next Article</span>
            <h3>{{page.next.title}}</h3>
        </div>
        <img src="{{ page.banner_url }}" alt="Next Article" />
    </a> 
    {% else %}

    {% endif %}
    {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">
        <div class="prev-next-content">
            <span>Previous Article</span>
            <h3>{{page.previous.title}}</h3>
        </div>
        <img src="{{ page.previous.banner_url }}" alt="Previous Article" />
     </a> 
    {% endif %} 
</nav>