$font-title: 'Playfair Display', serif;
$font-body: 'LyonWeb', Georgia, serif;

@font-face {
    font-family: 'LyonWeb';
    src:url('/assets/fonts/LyonText-Regular-Web.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LyonWeb';
    src:url('/assets/fonts/LyonText-RegularItalic-Web.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}