footer {
    text-align: center;
    color: #b1b2b2;
    padding: 50px 0;
    a {
        color: #b1b2b2;
    }
    .copyright {
        margin-bottom: 15px;
    }
}

/* NAVIGATION */
nav[role="navigation"] {
    text-align: center
}
.navigation {
    display: flex;
    width: 100%;
    & a {
      flex-grow: 1;
    }
}





/* MADE WITH LOVE */
$base-size:.8em; //Scale Me !!

.heart{
  display:inline-block;
  width:$base-size;
  height:$base-size;
  background:#ed484e;
  position:relative;
  animation: myAnimation .5s infinite;
  margin: 0 7px;
  
  &:after,&:before{
    content:'';
    display:block;
    border-radius:50%;
    width:$base-size;
    height:$base-size;
    background:#ed484e;
    position:absolute;
  }
  
  &:after{ 
    left:50%;
  }
  &:before{
    top:-50%;
  }
}

 /*Animation Keyframes */

@keyframes myAnimation{
  0% {transform:scale(1,1) rotate(-45deg);}
  50% {transform:scale(1.2,1.2) rotate(-45deg);}
  100% {transform:scale(1,1) rotate(-45deg);}
}