*, *:after, *:before {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    background-color: #fdfdfd;
    font-family: $font-body;    
    color: #313131;
    font-size:1em;
    line-height: 1.45em;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
    margin: 0;
    padding: 0;
}

li {
    display: block;
}

h1, h2, h3, h4 {
    font-family: $font-title;
    text-transform: uppercase;
    font-size: inherit;
    font-weight: 600;
    line-height: 1;
}

strong {
    font-weight: bold;
}

a,
button {
    color: inherit;
    transition: .3s;
}

a {
    text-decoration: none;
}

button {
    overflow: visible;
    border: 0;
    font: inherit;
    letter-spacing: inherit;
    background: none;
    cursor: pointer;
}

::-moz-focus-inner {
    padding: 0;
    border: 0;
}

:focus {
    outline: 0;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

p {
    font-size: 23px;
    line-height: 1.5;
    letter-spacing: 0.15px;
}

time {
    font-size: 90%;
    color: #b1b2b2;
}

a:link,
a:visited,
a:active,
a:hover {
    color: #000;
}

a:hover, 
a:focus {
    color: #2795b6;
}

::-moz-selection { background: #fff0b9; }
::selection { background: #fff0b9; }
