* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
}

body {
    background-color: #fff;
    color: #222;

    margin: 0;
    -webkit-font-smoothing: antialiased;
}

.clearfix::after, 
.entry::after, 
.entry-content::after, 
.site-container::after, 
.site-footer::after, 
.site-header::after, 
.site-inner::after, 
.wrap::after {
    clear: both;
    content: " ";
    display: table;
}
.clearfix::before, 
.entry::before, 
.entry-content::before, 
.site-container::before, 
.site-footer::before, 
.site-header::before, 
.site-inner::before, 
.wrap::before {
    content: " ";
    display: table;
}

