$font-title: 'Playfair Display', serif;
$font-body: 'LyonWeb', Georgia, serif;

@font-face {
    font-family: 'LyonWeb';
    src:url('/assets/fonts/LyonText-Regular-Web.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LyonWeb';
    src:url('/assets/fonts/LyonText-RegularItalic-Web.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}


*, *:after, *:before {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

::-moz-selection { background: #fff0b9; }
::selection { background: #fff0b9; }


body {
    background-color: #fdfdfd;
    font-family: $font-body;    
    color: #313131;
    font-size:1em;
    line-height: 1.45em;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 {
    font-family: $font-title;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
    line-height: 1;
}

p {
    font-size: 23px;
    line-height: 1.5;
    letter-spacing: 0.15px;
}

time {
    font-size: 90%;
    color: #b1b2b2;
}

a:link,
a:visited,
a:active,
a:hover {
    color: #000;
    text-decoration: none;
}

a:hover, a:focus {
    color: #2795b6;
}