.post-header h2 {
    font-size: 220%;
    margin: 0 0 40px;
} 

article.post {
    margin-bottom: 50px;
        footer {
            border-top: 1px solid #dededc;
            text-align: right;
            padding-top: 10px;
    }
}