.meta {
    padding-bottom: 0.75em;
    margin-bottom: 3em;
    border-bottom: 2px solid rgba(153, 153, 153, 0.2);
    span {
        display: block;
        clear:both;
        color: $blue;
        font-size: 18px;
    }
    time {
        font-size: 18px;
    }
}

main {
    background: $bodycolor;
    z-index: 10;
}

article {
    width: 100%;
    max-width: 700px;
    
    margin: 0 auto;

    padding: 20px 20px 150px;

    @media (min-width:1024px) {
        padding: 40px 0 150px
    }
}

.section-title {
    font-family: $titlefont;
    text-align: center;
    font-size: 1.4em;
    span {
        z-index: 1;
        position: relative;
        background-color: #fff;
        padding: 0 5px;
    }
    &:after {
        content: "";
        position: absolute;
        top: 6px;
        bottom: 0;
        left: .6em;
        right: .6em;
        z-index: -1;
        border-top: 1px solid #aaa;
        margin-top: .6em;
    }
}

body.home section:nth-of-type(1) {
    margin-bottom: 150px;
}

.entry-list {
    list-style: none;
    margin: 0;
    padding: 0;
    h2 {
        font-size: 1.4em;
    }
    span {
        font-size: .8em;

    }
    li {
        margin-bottom: 45px;
        padding-bottom: 45px;
        border-bottom: thin solid #f3f3f3;
    }
    a {
        color:$titles;
        -webkit-transition: all .2s ease-out;
        transition: all .2s ease-out
    }
    a:hover {
        color: $links;
    }
}


section p a {
    font-style: italic;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out
}

.article-prev-next {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
    a {
        position: relative;
        overflow:hidden;
        -webkit-box-flex: auto;
        -moz-box-flex: auto;
        box-flex: auto;
        -webkit-flex: auto;
        -moz-flex: auto;
        -ms-flex: auto;
        flex: auto;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -moz-box-align: center;
        box-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -ms-flex-align: center;
        width: 50%;
        min-height: 300px;
        background-color: #333;
        text-decoration: none;
        background-size: cover;
        background-position:center center;
        background-repeat: no-repeat;
        @media all and (max-width:780px) {
            width: 100%;
        }
        img {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: auto;
            opacity: 0.3;
             margin: auto;
        }
    }
    @media all and (max-width:780px) {
        display: block;
    }
}
.prev-next-content {
    -webkit-box-flex: auto;
    -moz-box-flex: auto;
    box-flex: auto;
    -webkit-flex: auto;
    -moz-flex: auto;
    -ms-flex: auto;
    flex: auto;
    padding: 0 10%;
    z-index: 2;
    span {
        display: block;
        width: 100%;
        position: relative;
        font-size: .9em;
        color: rgba(255,255,255,.6);
        padding-bottom: 0;
        font-weight: 400;
        text-transform: uppercase;
        &:after {
            position: absolute;
            content: "";
            left: 0;
            bottom: -10px;
            border-bottom: 3px solid rgba(255,255,255,.6);
            width: 20px;
        }
    }
    h3 {
        padding-top: 20px;
        line-height: 1.2em;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 2rem;
        color: rgba(255,255,255,.6);
        padding-bottom: 0;
        margin-bottom: 0;
    }
    &:hover h3 {
        color: rgba(255,255,255,1);
    }
}

ul.archive-list {
    list-style: none;
    li {
        margin-bottom: 1.333em;
        padding-bottom: 0.666em;
        border-bottom: thin solid #f3f3f3;
        text-align: left;
    }
}

a.read-more {
    display: block;
    position: relative;
    color: $titles;
    font-size: .75em;
    transition: margin-left .4s .8s;
    &:hover {
        text-decoration: none;
        padding-left: 1em;
        color: $green; 
        .shape-arrow--broken {
            fill: $green; 
        }
    }
}

.shape-arrow--broken {
    width: 35px;
    height: 10px;
    fill: $titles;
    margin-left: .50em;
    margin-bottom: .05em;
}

.who img {
        width: 250px;
        height: auto;
        object-fit: cover;
        border-radius: 50%;
        margin: 1em auto;
}
