$blue: #0077B5;
$green: #38a325;

$bodycolor: #fff;
$highlight: #0077B5;

$titles: #03213f;
$text: #0F0E0E;
$links: $green;
$hovers: $blue;

$bodyfont: 'Slabo 27px', serif;
$titlefont: 'Oswald', sans-serif;