---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
        
        <meta name="description" content="{{ site.description }}" />

        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
        <meta name="HandheldFriendly" content="True" />

        
        <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">
        <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}">
        <link rel="prefetch" href="{{ site.url }}">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

        <!-- DEV CSS -->
        <link rel="stylesheet" href="{{ "custom.css" | prepend: site.baseurl }}">

   </head>
<body class="animated fade-in-down">
    <article> 
        <section class="meta">
            <h1>{{ page.title }}</h1>
            <div class="desc">{{ page.date | date_to_long_string }}<span> by <a href="https://www.instagram.com/boldadventure/"><strong>Mike Key</strong></a></span></div>
        </section>
      
        {{ content }}

    </article>
        
</body>
</html>