---
layout: default
---
<!-- Displays Hero Image if Hero Image == True -->
{% if page.hero == true %}
<div class="front-page image-section">
    <div class="widget-area">
        <header class="wrapper">
            <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
            <h2>
                {% for category in page.categories %}
                    {{ category }} 
                {% endfor %}
            </h2>
            <span>
                <i class="fa fa-clock-o"></i> <time datetime="{{ page.date| date: "%Y-%m-%d" }}">{{ page.date | date: "%B %-d, %Y" }}</time>.
            </span>
        </header>
        <i class="fa fa-chevron-down movedown"></i>
    </div>
</div>
{% endif %}

<section class="posts wrapper">
  <article class="post {% if page.featured == true %} featured {% endif %}">
	  
	<header>
        <div class="feature"><span>Featured</span><i class="fa fa-bookmark fa-lg"></i></div>
        <h1 id="posttitle"><a href="#">{{ page.title }}</a></h1>
        <h2>
            {% for category in post.categories %}
                {{ category }} 
            {% endfor %}
        </h2>
    </header>

	<section class="postbody">
		{{content}}
	</section>
 
  </article>
</section>