---
layout: compress
---

{% assign minutes = content | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}
{% assign minutes = 1 %}
{% endif %}

<!DOCTYPE html>
<html lang="en">
    <head>
    
        {% include head.html %}

   </head>
<body class="{% if page.id %}post{% else %}page{% endif %} animated fade-in-down">

    {% include close-btn.html %}

    {% include header.html %}

    <main role="main">    
        <article class="article">
            <section class="meta">
                <h1>{{ page.title }}</h1>
                <time datetime="{{ page.date |  date: '%B %d, %Y' }}">Posted: {{ page.date |  date: '%B %d, %Y' }}</time>
                <span class="small">{{ minutes }} minute read</span> 
            </section>
            <section >
                {{ content }}
            </section>
        </article>
    </main>  

    {% include pagination.html %}

    {% include footer.html %}

</body>
</html>